#Cart {
    max-width: 800px;
    margin: auto;

    h1 {
        text-align: center;
    }

    ul {
        padding-left: 0;
    }

    p {
        text-align: right;
    }

    button {
        display: flex;
        margin: auto;
    }

    .cartItem {
        border: 1px solid black;
        margin: 5px;
        box-shadow: 0 0 20px grey;
        padding: 10px;
        border-radius: 4px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .nameDiv {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .deleteIcon {
            margin-right: 10px;
            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
        }
    }
}