

.productInfo {
    display: flex;
    justify-content: center;

    .card {
        min-width: 275px;
        margin: 30px
    }

    .bullet {
        display: inline-block;
        margin: 0 2px;
        transform: scale(0.8);
    }

    .title {
        font-size: 14px;
    }

    .pos {
        margin-bottom: 12px;
    }

    .footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}